In [1]:
import pandas as pd

In [2]:
student_dict = {'Name':['Dips', 'Jay', 'Krishna', 'Radha'], 'Age':[26, 10, 27, 27], 'Marks':[100,90,100,100]}

In [3]:
student_dict

{'Name': ['Dips', 'Jay', 'Krishna', 'Radha'],
 'Age': [26, 10, 27, 27],
 'Marks': [100, 90, 100, 100]}

In [4]:
print(type(student_dict))

<class 'dict'>

In [6]:
df = pd.DataFrame(student_dict)
df

      Name  Age  Marks
0     Dips   26    100
1      Jay   10     90
2  Krishna   27    100
3    Radha   27    100