#### Pandas Merging Function

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'ID': [1,2,3,4],
                   'Class': [9, 10,11,12]})
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [4]:
df2 = pd.DataFrame({'ID':[1,2,3,4],
                    'Name': ['A', 'B', 'C', 'D']})
df2

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D

In [5]:
pd.merge(df1, df2 , on='ID')

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C
3   4     12    D

In [6]:
pd.merge(df2, df1 , on='ID')

   ID Name  Class
0   1    A      9
1   2    B     10
2   3    C     11
3   4    D     12

In [7]:
pd.merge(df1, df2 , on='ID', how = 'inner')

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C
3   4     12    D

In [9]:
df3 = pd.DataFrame({'ID': [1,2,3,5], 
                    'AgeL': [ 10,20,45,21]})

In [10]:
pd.merge(df1 , df3 , on= 'ID', how='left')

   ID  Class  AgeL
0   1      9  10.0
1   2     10  20.0
2   3     11  45.0
3   4     12   NaN

In [12]:
pd.merge(df1, df3 , on='ID', how='right')

   ID  Class  AgeL
0   1    9.0    10
1   2   10.0    20
2   3   11.0    45
3   5    NaN    21

In [11]:
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [13]:
pd.merge(df1, df3 , on='ID', how='outer', indicator=True)

   ID  Class  AgeL      _merge
0   1    9.0  10.0        both
1   2   10.0  20.0        both
2   3   11.0  45.0        both
3   4   12.0   NaN   left_only
4   5    NaN  21.0  right_only